{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}



{% block component_product_box_info %}
    <div class="product-info">
        {{ block('component_product_box_rating') }}
        {{ block('component_product_box_name') }}

        {% block component_product_subtitle %}
            <div class="product-subtitle">
                {% if product.customFields.product_subtitle is defined %}
                <p> {{ 'product.subtitle' | trans }} {{product.customFields.product_subtitle}}</p>
            {% endif %}
            </div>
        {% endblock %}

        {{ block('component_product_box_variant_characteristics') }}
        {{ block('component_product_box_description') }}
        {{ block('component_product_box_price') }}
        {{ block('component_product_box_action') }}
    </div>
{% endblock %}  